footer.page-footer
    .container.clearfix
        h1.logo.logo--footer.pull-left
            a(href="index.html") Greenage
        small.copyright.pull-right Powered by
            a(
                href="#",
                class="footer-links"
            )  BestWebSoft
            |  and
            a(
                href="#",
                class="footer-links"
            )  WordPress
            br
            | © 2013 Greenage