.col-xs-12.col-sm-4.pull-left
    aside.sidebar
        h4.sidebar__header Recent Posts
        .links-list
            a(href="#", class="links-list__item") Worth A Thousand Words
            a(href="#", class="links-list__item") Elements
            a(href="#", class="links-list__item") More Tags
            a(href="#", class="links-list__item") HTML
            a(href="#", class="links-list__item") Links

        h4.sidebar__header Recent Comments
        .links-list.links-list--expanded
            p
                a(href="#", class="links-list__item--comment") Joseph Scott
                span.links-list__item--disable  on
                |  Hello world!
            p
                a(href="#", class="links-list__item--comment") Joseph Scott
                span.links-list__item--disable  on
                |  HTML
            p
                a(href="#", class="links-list__item--comment") Mr WordPress
                span.links-list__item--disable  on
                |  Hello world!

        h4.sidebar__header Archive
        .links-list
            a(href="#", class="links-list__item") October 2008
            a(href="#", class="links-list__item") September 2008
            a(href="#", class="links-list__item") June 2008

        h4.sidebar__header Categories
        .links-list
            a(href="#", class="links-list__item") First Child Category
            a(href="#", class="links-list__item") One Grandchild Category
            a(href="#", class="links-list__item") Parent
            a(href="#", class="links-list__item") Second Child Category
            a(href="#", class="links-list__item") Uncategorized


